/* CSS untuk halaman login */
.card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    text-align: center;
    font-family: "Montserrat";
    color: #000;
    font-weight: bold;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.35);
}

.input-icon input {
    padding-left: 40px;
    transition: border-color 0.3s, padding-left 0.3s;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #007bff;
    outline: 0;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-primary {
    background-color: #4a710c;
    border: none;
    width: 100%;
}

.btn-primary:hover {
    background-color: #4a710cc6;
}

.text-center {
    margin-top: 20px;
}

.google-logo {
    max-width: 100%; /* Membuat gambar responsif */
    height: auto;
    margin-right: 10px;
}
